@tailwind base;
@tailwind components;
@tailwind utilities;

.loader{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px solid #ddd;
    border-top-color: #111;
    animation: untoldcoding 1s infinite;
}

@keyframes untoldcoding  {
    100% {
        rotate: 360deg;
    }
}